
{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content">
        <div class="well">
            <h2>Players bases </h2>
            <div class="row">
                <table class="table table-striped table-hover ">
                    <thead>
                    <tr>
                        <th>Base:</th>
                        <th>Belongs To:</th>
                        <td>Arrival time:</td>
                        <th>Attack</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for base in bases %}
                        <tr>
                            <td>{{ base.id }}--[{{ base.x }}:{{ base.y }} ]</td>
                            <td>{{ base.userUsername }}</td>
                            <td>{{ base.time }}</td>
                            <td><a href="{{ path("fight_attack_menu",{id:base.id}) }}">Attack</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
